@model LancheListViewModel

    <div><h2>@Model.CategoriaAtual</h2></div>
@{
    @foreach (var lanche in Model.Lanches)
    {
<div class="col-lg-4">
    <div class="img-thumbnail">
        <img src="@lanche.ImagemUrl" />
    </div>

    <div class="figure-caption">
        <h3 class="border-right"> @lanche.Preco.ToString("c")</h3>
    </div>
    <h3> @lanche.Nome</h3>

    <p>@lanche.DescricaoCurta</p>


</div>
    }

}